
  <p>

  </p>
  <p>

  </p>




<div class="container">
 <%= form_tag admin_sessions_path do %>
  <form class="form-signin">
    <h1 class="text-center">Sign in</h1>

    <p>
      <%= label_tag :username %><br>
      <%= text_field_tag :username %>
    </p>
    <p>
      <%= label_tag :password %><br>
      <%= password_field_tag :password %>
    </p>

    <p class="checkbox"><label><input type="checkbox">Remember me</label></p>
    <%= submit_tag do%>
    <button type="submit" class="btn btn-info btn-block">Log in</button>
    <% end %>
    </form>
  <% end %>
</div>
