
<div class="col-md-4">

</div>
<div class="col-md-6">


<div class="container" style="	display: table; ax-width: 400px; height: 100%; min-height: 100%;">
 <%= form_tag admin_sessions_path do %>
  <form class="form-signin2">
    <h1 class="">Sign in</h1>

    <p>
      <%= label_tag :username %><br>
      <%= text_field_tag :username %>
    </p>
    <p>
      <%= label_tag :password %><br>
      <%= password_field_tag :password %>
    </p>

    <p class="checkbox"><label><input type="checkbox">Remember me</label></p>
    <%= submit_tag 'Log in', class:"btn btn-success"%>
    </form>
  <% end %>
</div>

</div>
