<h1>Messages</h1>

<p>
  <%= render 'search', route: admin_messages_path %>
</p>

<% @messages.each do |message| %>
<p style=<%= message_weight(message) %>>
  <b>From:</b><%= message.visitor.fullname %>  <label href="#" class="label label-default"><%= status_converter(message.status, truthy: 'Read', falsey: 'Un-Read') %></label>
  <br>
  <b>Content:</b><%= truncate(message.content, length: 200, separator: '') %><br>


  <b>When:</b><%= time_ago(message.created_at) %><br><br>
   <b>Status:</b><%= build_read_status_link message %><br>

  <b>Action:</b><%= link_to 'Show', admin_message_path(message), class:"btn btn-default btn-xs" %>
  <%= link_to 'Delete', admin_message_path(message), method: :delete, data: {confirm: 'Are you serious?'}, class:"btn btn-danger btn-xs" %>
</p>

<p>

</p>
<hr>
<% end %>


<%= paginate @messages %>
