<div class="col-md-4">
  <aside>
    <%= image_tag "icon.jpeg", class: "img-circle" %>
    <h4>Yishun</h4>
    <p>a ICT student in University of Huddersfield</p>
    <a href="https://twitter.com/yal0858" class="twitter-follow-button" data-show-count="true" data-size="large">Follow @yal0858</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    <hr>
    <p>Share this page:</p>
    <ul class="list-inline clearfix">
      <li><%= image_tag "social_icons/twitter.png" %></li>
      <li><%= image_tag "social_icons/facebook.png" %><img src=""></li>
      <li><%= image_tag "social_icons/linkedin.png" %><img src=""></li>
      <li><%= image_tag "social_icons/googleplus.png" %><img src=""></li>
      <li><%= image_tag "social_icons/pinterest.png" %><img src=""></li>
      <li><%= image_tag "social_icons/email.png" %><img src=""></li>
    </ul>
  </aside>
</div><!-- end col-4 -->
