<%= render 'validation_errors', object: @post %>



<!-- Main Content -->
    <div id="content">
      <header>
        <h2 class="page-title">Create new article</h2>
      </header>

      <div class="content-inner">
        <%= form_for [:admin, @post] do |f| %>
        <div class="form-wrapper">
          <form>
            <div class="form-group">
              <% f.text_field :title %>
              <%= f.text_field :title, class:"form-control", placeholder:"Title" %>
            </div>
            <p>
              <%= f.select :tag_ids, Tag.all.collect {|t| [t.name, t.id]}, {prompt: 'Select Tag'}, multiple: :true %>
            </p>

            <div class="form-group">
               <% f.label :content %><br>
               <%= f.text_field :content, class:"form-control", placeholder:"Any new to write about?"  %>
               <br>

              <p>
                <%= f.label :publish %>
                <%= f.check_box  :publish%>

              </p>
              <div class="clearfix">
            <%= f.submit 'Add Post', class:"btn btn-primary"%>
              </div>


          </form>
        </div>
        <% end %>
      </div>
    </div>
