<h1>All Posts</h1>

  <!-- Main Content -->
				<div id="content">
					<header class="clearfix">
						<h2 class="page-title pull-left">All articles</h2>
            <%= link_to new_admin_post_path do%>
						<button type="button" class="btn btn-xs btn-primary pull-right">Create new article</button>
            <% end %>
					</header>

					<div class="content-inner">
         <%= render 'search', route: admin_posts_path %>
             <% @posts.each do |post| %>
						<div class="row article-row">


							<div class="col-xs-2 col-sm-1 col-md-1 status-padding">
								<span class="label label-success label-sm"><%= status_converter(post.publish) %></span>
							</div>
							<div class="col-xs-10 col-sm-6 col-md-8 article-title">
								<p><%= truncate(post.title, length: 60, separate: '') %></p>
								<small><%= time_ago post.updated_at %></small>
							</div>
							<div class="col-xs-10 col-sm-5 col-md-3 col-xs-offset-2 col-sm-offset-0 col-md-offset-0">
								<div class="article-actions">
                  <%= link_to admin_post_path(post) do%>
									<div class="btn btn-xs btn-default-art" href="#" role="button">
										<span class="glyphicon glyphicon-folder-open" aria-hidden="true"> View</span>
									</div>
                  <% end %>

                  <%= link_to edit_admin_post_path(post) do%>
									<div class="btn btn-xs btn-default-art" role="button">
										<span class="glyphicon glyphicon-pencil" aria-hidden="true"> Edit</span>
									</div>
                  <% end %>

                  <%= link_to admin_post_path(post), method: :delete, data: {confirm: 'Are you sure?'} do %>
									<div class="btn btn-xs btn-default-art" role="button">
										<span class="glyphicon glyphicon-remove" aria-hidden="true"> Delete</span>
									</div>
                   <% end %>
								</div>

							</div>

						</div><!-- end row -->
<% end %>
						<hr>


            						<div class="row">
            							<div class="col-md-12">
            								<nav>
            									<p><%= paginate @posts %></p>
            									</ul>
            								</nav>
            							</div>
            						</div>
            					</div>
            				</div><!-- end content -->
