
	<div class="col-md-8">
        <% @posts.each do |post| %>
       <article>
        <header><h2>
          <%= truncate(post.title, length: 70, separator: ' ') %> <h2></header>
          <footer><small><%= time_ago post.created_at %></small></footer>



        <div class="lead">
          <%= truncate(post.content, length: 104, separator: ' ') { link_to 'Read More', post_path(post) } %>
        </div>



        <% if Setting.tag_visible? %>
        <footer>
          <% post.tags.each do |tag| %>
          <span class="label label-info"><%= link_to tag.name, posts_path(tag: tag.name) %></span>
          <% end %>
        </footer>
        <% end %>
        <hr>
      	</article><!-- end article -->
        <% end %>
        <ul class="text-center">
          <%= paginate @posts %>
        </ul>
			</div><!-- end col-4 -->
		</div><!-- end row -->
	</div><!-- end container -->

	<% content_for :head do %>
	  All Post
	<% end %>

	<% content_for :active1 do %>"active"
	<% end %>
