<!DOCTYPE html>
<html>
  <head>
    <title>Admin</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <style media="screen">
    <%= render 'admin/shared/style' %>
    </style>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid display-table">
  		<div class="row display-table-row">
   <!-- <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
   <% end %>

   <% if flash[:alert] %>
    <div class="alert"><%= flash[:alert] %></div>
   <% end %> -->




    <%= render 'admin/shared/nav' %>

    <%= yield %>
    <!-- Footer -->
				<div class="row">
					<footer id="admin-footer" class="clearfix">
						<div class="pull-left"><b>Copyright </b>&copy; 2017</div>
						<div class="pull-right">admin system</div>
					</footer>
				</div><!-- footer end row -->
		<!-- End Footer -->


  </div><!-- end col-10 -->

</div><!-- end row -->
</div><!-- end container -->
  </body>
</html>
