<!DOCTYPE html>
<html>
  <head>
    <%= yield :head %>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= yield :costomcss %>
  </head>

  <body>
<%= render 'shared/nav' %>


   <div class="container">
   		<div class="row">
   <%= render 'shared/mydoc' %>


    <%= yield %>
  </body>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBA58auOqF6wOraSfv_yWc2EAvHx4s_3PY&libraries=places&callback" async>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</html>
