<!DOCTYPE html>
<html>
  <head>

    <title><%= yield :head %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
          <%= yield :map %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :costomcss %>
  </head>

  <body>
<%= render 'shared/nav' %>


   <div class="container">
   		<div class="row">
   <%= render 'shared/mydoc' %>


    <%= yield %>
  </body>

</html>
